@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
        <br />
        <br />
        " Dong Hun's Portfolio "
    </h1>
</div>
